.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
  animation: rotation 20s linear normal infinite;
}
